body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    max-width: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(230, 229, 232);
}